<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051655564048-ml8fr1629er4ck19cot8hasu5cgdrnue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051655564048-ml8fr1629er4ck19cot8hasu5cgdrnue</string>
	<key>API_KEY</key>
	<string>AIzaSyCmSZEYQCfyAZ3hUd8lttO4VbAuJjXPUVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1051655564048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nodpay.app</string>
	<key>PROJECT_ID</key>
	<string>nodpay-5f5f1</string>
	<key>STORAGE_BUCKET</key>
	<string>nodpay-5f5f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051655564048:ios:b416b9a2253785fdc01395</string>
</dict>
</plist>